* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #eee;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

#checkbox-container {
    display: flex;
    gap: 1rem;
}

#make-btn, #download-btn, #reset-btn {
    background-color: #eee;
    color: #222;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}

#text-input {
    background-color: #eee;
    color: #222;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    width: 20rem;
    font-size: 1.5rem;
    text-align: center;
}

#canvas {
    border: 3px solid #eee;
    margin-top: 1rem;
}

#canvas-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

  