:root {
    --background-color: darkgreen;
    --font-color: #fff;
    --btn-color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

#checkbox-container {
    display: flex;
    gap: 1rem;
}

#make-btn, #download-btn, #reset-btn {
    background-color: var(--font-color);
    color: var(--btn-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}

#text-input {
    background-color: #eee;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    width: 20rem;
    font-size: 1.5rem;
    text-align: center;
}

#canvas {
    margin-top: 1rem;
}

#canvas-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

#length {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 63%;
    top: 11%;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

#logo {
    width: 20rem;
}
